{% extends 'base.html' %}

{% block title %} gestion gastos {% endblock %}

{% block content %}
    <form action="creaalta" method="POST">

        <div class="field">
            {{ form.fecha.label}}
            {{ form.fecha }}
        </div>
        
        <div class="field">
            {{ form.concepto.label}}
            {{ form.concepto}}
        </div>
        
        <div class="field">
            {{ form.cantidad.label }}
            {{ form.cantidad }}
        </div>
        <div class="field">
            {{ form.submit }}
        </div>
    </form>
{% endblock %}